@import 'bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap/scss/bootstrap';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.centered {
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
}

.container {
  max-width: 1450px;
}

.hidden {
  visibility: hidden;
}

.picture {
  width: max-content;
  height: max-content;
  margin: 5px 5px 5px 5px;
}
